/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */

 #cy {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  active-bg-color: #555;
  active-bg-opacity: 0.333;
}

  @-webkit-keyframes pulsate {
  0% {opacity: 0.1;}
  40% {opacity: 1.0;}
  60% {opacity: 1.0;}
  100% {opacity: 0.1;}
  }