/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.nodes.circle {
  fill: #f00;
}


.nodes text {
  pointer-events: none;
  font: 10px sans-serif;
}

  /* Make the chart container fill the page using CSS. */
  #rect {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }

  #cy {
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}



.highlighted {
      background-color: #61bffc;
      line-color: #cc0000;
      target-arrow-color: #cc0000;
      transition-property: background-color, line-color, target-arrow-color;
      transition-duration: 0.5s;
      }

#highlighted {
        background-color: #61bffc;
        line-color: #cc0000;
        target-arrow-color: #cc0000;
        transition-property: background-color, line-color, target-arrow-color;
        transition-duration: 0.5s;
        }
#node{
background-color: #90FF33;
}